body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #38393c;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

footer {
  background-color: #38393c;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

ul li a {
  color: #333;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
